#toggle{
  @include mobile_left_toggle;
  margin-top: em(10px);

}
#cornerNavIcon{
  margin-right: 1.5em;
}
/* Wrapped  picToggle image in a link tag for accessibility and for increased functionality, then hid anchor text to get rid of accessibility warning on Chrome accessibility audit*/
#navTextIndent{
  margin-left: em(-9999px);
}

h1{
  color: $white;
}

.navText{
  color: $white;
  opacity: 0.7;
  margin-left: 70px;
  margin-top: em(-26px);
  &:hover{
    opacity: 1;
  }
  @include bp(tablet){
  text-indent: em(-9999px);
  }
}

header {
  @include fixed_header;
  @include flex;
  @include flex_row;
  min-height:50px;
  width: 100%;
  z-index: 12;
  background-color: $medium-purple;
  @include bp(tablet){

  }
}

#headerH1{
  font-size: $font_size__h5;
  font-weight: $font-weight--light;
  margin-left: em(30px);
  margin-top: em(-5px);
  @include bp(tablet){
    margin-left: em(5px);
  }
  @include bp(fullscreen){

  }

}


#headerH1Span{
  font-weight: $font-weight--bold;
}


#headerNav{
    margin-left: auto;
    @include bp(tablet){
    @include flex;
    @include flex_justify_space_around;
    margin-left: auto;
    width: em(290px);

  }
}


#dot{
  height: 8px;
  width: 8px;
  margin-bottom: em(30px);
}


#line{
   display:none;
   font-size: 33px;
   font-weight: $font-weight--thin;
   margin-top: em(-4px);
   @include bp(tablet){
   @include flex;
   margin-top: em(2px);
 }
 }


#profileImg{
  border-radius: 50%;
  height: 40px;
  width: 40px;

}
