/* Global Layout Set-up */
* {
  @include border_box;
}


img{
  max-width: 100%;

}
body {
  margin: 0;
  padding: 0;
  background-color: $white;

}
#messagesText{

}
#messages{
  @include flex;
  @include flex_column;
  /*@include flex_justify_center;*/
  text-align: center;
  /*max-height: 100px;*/
  width: 100%;
  height:100vh;
 padding-top: em(100px);
 display:none;
  background-color: $charcoal;
 position: fixed;
  z-index: 10;
  @include bp(tablet){

    margin-top: em(-40px);
  }
  @include bp(fullscreen){
     padding-top: em(160px);
       height:150vh;
  }

}

.alertMessages{
  @include flex;
  @include flex_justify_center;
  @include flex_align_items--center;
  background-color: $white;
  color:$red;
  font-size: $font_size__large;
  margin-left: 5%;
  margin-bottom: 5%;
  width: 90%;
  height: 20vh;
  border: 10px solid darken($medium-purple, 20%);
  opacity: 0.7;
  border-radius: 4%;
  &:hover{
    opacity: 1;
  }
  @include bp(tablet){
    width: 80%;
  /*  height: 10vh;*/
    margin-left: 10%;
    font-size: $font_size__h4;
  }
}

#friend, #group, #password{
  height: em(40px);
  fill: $limeGreen;
  transition: transform .2s ease-out;
  margin-left: em(20px);
}

#friend:hover, #group:hover, #password:hover{
  fill: lighten($limeGreen, 20%);
/*  animation: turn 1.1s .2s ease-out forwards;*/
  transform: scale(1.3);
}





.nav {
  @include flex;
  @include flex_column;
  /*@include flex_align_items--center;*/
  list-style-type: none;
  position: fixed;
  margin: em(70px) auto;
  padding: 0;
  width: 100%;
  z-index: 10;
  background-color: darken($medium-purple, 20%);
  /*padding-top: em(180px);*/
  @include bp(tablet){

     margin-top: em(-40px);
     padding-top: em(0px);
     width: 7%;
     height: 200vh;

  }
  @include bp(fullscreen){
    margin-top: em(55px);
    padding-top: em(0px);
    width: 5%;
  }

}

ul {
  /*border-bottom: 1px solid #ccc;*/
  list-style: none;
  margin: 0 0 1.5rem 0;
  padding: 0px;
}

.nav li {

   padding: 3px 10px 10px 5px;
  @include bp(tablet){
   padding-top: em(20px);
   padding-left: em(7px);
    font-size: $font_size__h4;
  }
}

li {

  border-bottom: 3px solid $white;
  border-bottom-style: inset;
  margin-bottom: em(0px);
  background-image: linear-gradient(
    to bottom,
    transparent 50%,
    rgba(95, 74, 173, 1) 25%,
    rgba(134, 163, 204, 1) 95%,
    rgba(169, 186, 211, 1) 95%
  );
  background-size: 100% 200%;
  background-position: top center;
  /*color: #666;*/
  /*display: block;
  text-align: center;
  text-decoration: none;*/
  transition: all .25s ease-in-out;
  &:hover {
    background-position: bottom center;
    color: rgba(0,0,0,.75);
  }

  @include bp(tablet){
    border-bottom: none;
  }
}


.navIcons{
  height: em(40px);
}
.sideNavIcons{
  height:em(30px);
  margin-bottom: em(10px);
  opacity: 0.7;
  &:hover{
    opacity: 1;
  }
}






#emptyDiv{
  @include bp(fullscreen){
  content: " ";
  height:em(150px);
  width: 93%;
}
@include bp(large_screen){
  /*height: em(380px);*/
}
}
#wrapper{
  /*width: 100%;*/
  height: 100vh;
  @include bp(tablet){
/* width:93%;
  margin-left: 7%;*/
}

}

section{
  @include flex;
  @include flex_column;
  @include bp(tablet){
    width: 95%;
    margin-left: 5%;

    margin-top: em(100px);

  }
  @include bp(fullscreen){
  margin-top: em(0px);
  }
}

/* #toggle_class keeps margin between nav and section flush
   when nav is toggled on and off with sticky header nav */

#toggle_class{
  content: "";
  height: 0px;
  display: none;
}

/* Link Styles */

a {
  text-decoration: none;
  color: $sand;
  &:hover{
    color: lighten($red, 30%);
  }
  &:focus{
    color: $red;
  }
}



/* Section Styles */

p{
  color: $white;
}

.name{
  font-weight: 300;
}


.flexDashBoard{
  text-align: center;
  @include bp(tablet){
  @include flex;
  @include flex_justify_space_around;
  @include flex_align_items--center;
  /*text-align: left;*/

  margin-bottom: em(60px);

}


  @include bp(fullscreen){
  /*height: 100vh;*/
  /*width: 98%;*/
  /*padding-top: 6.25em;*/
  /*margin-left: 1%;*/


}
}
.flexAlert #alert {
	display: block;
	align-items: center;
	padding: 10px 20px;
	font-size: 0.825em;
	font-weight: lighter;
	margin: 0;
}

#alert{
  @include flex;
  background-color: $medium-purple;
  height: em(40px);
  display: none;
 width:98%;
  padding-top: em(13px);
  @include bp(tablet){
  }
}

#alertSpan{
  font-weight: $font-weight--bold;
  margin-right: em(10px);
  margin-left: em(5px);
  /*padding-right: em(10px);
  padding-left: em(10px);*/
}
#close{
  float: right;
}

h3{
  color: $black;
  opacity: 0.7;
  &:hover{
    opacity: 1;
  }

}
input[type="search"] {
	width: 60%;
	height: em(40px)inherit;
	margin-top: em(20px);
	margin-bottom: em(40px);
  border-radius: 4%;
	font-size: 16pt;
  border: em(3px) solid $grey;
  background-color: $medium-purple;
  color: $white;
  @include bp(tablet){
    /*width: 40%;*/
    margin-top: em(0px);
    margin-bottom: em(0px);
    height: em(20px);
  }
}

input[type="search"]:focus {

  border: 8px solid $medium-purple;
  color: $white;
  /*border-color: #c6454e;*/
  background-color: darken($medium-purple, 20%);
}




#weekly{
  padding-top: em(20px);
  text-align: center;
}
#trafficTime{
  @include flex;
  @include flex_justify_space_between;
  padding-bottom: em(20px);

}
.trafficTimeHover:hover{
  color: $white;
  background-color: $limeGreen;
  border-radius: 30%;
}
button{
	border-radius: 40%;
	height: em(40px);
	background-color: transparent;
	border: none;
  &:hover{
    background-color: $limeGreen;
    color: $white;
  }
}
#chart{
  margin-top: em(100px);
}

#traffic{
  @include bp(tablet){
    margin-bottom: em(80px);
  }
}

.trafficTitlesMobileView{
  display: none;
  text-align: center;
}

  .trafficTitlesTabletView{
  display:none;
    @include bp(tablet){
      @include flex;
      /*@include flex_column;*/
      @include flex_justify_space_around;
    margin-top: em(-60px);
    }
  }

  #dailyTraffic{
    @include flex;
    @include flex_column;
    @include flex_justify_space_between;
    /*height: em(500px);*/

    @include bp(tablet){

    @include flex_row;
    @include flex_justify_space_between;
    margin-top: em(30px);
    height: em(250px);

  }
  }


  #barChartDaily, #mobileUsers{
    @include bp(tablet){
      max-width: 50%;

    }
  }

#socialStatH3Div{
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-align: center;
  @include bp(fullscreen){
    margin-top: 12em;
    padding-left: em(10px);
    text-align: left;
  }
}
.socialStats{
  @include flex;
  @include flex_column;
 @include flex_justify_center;
  @include flex_align_items--center;
  text-align: center;
  /*width:98%;*/

  margin-top: 5%;
  @include bp(tablet){
    @include flex_row;
    @include flex_justify_space_around;
  /*  margin-top: 2em;*/
    /*width: 93%;*/
  }

}

.innerFlexWrap{
  @include flex;
   @include flex_justify_space_around;
   @include flex_align_items--center;
   background-color: $ivory;
  border: 4px solid $grey;
  width: 70%;
  height: 120px;
  margin-bottom: em(50px);
  &:hover{
  /*  opacity: 1;*/
  }
  @include bp(tablet){
    width: em(270px);
    height: em(160px);
  }
  @include bp(fullscreen){
    width: em(370px);
  }
}

.socialIconDivs{
  @include flex;
  @include flex_justify_center;
  @include flex_align_items--center;
  border: em(4px) solid $grey;
  width: em(90px);
  height: em(90px);
  background-color: $medium-purple;
  border-radius: 50%;
  @include bp(fullscreen){
    height: em(120px);
    width: em(120px);
      margin-right: em(40px);
  }
}
#twitter, #facebook, #google, #linkedIn, #pinterest, #youtube{
  height: em(55px);
  fill: $white;
  animation: turn 1.1s .2s ease-out forwards;

  @include bp(fullscreen){
    height: em(70px);

  }

}



.statText{

}

h4{
  color: $medium-purple;
  font-size: $font_size__h1;
  margin-bottom: em(-10px);
  @include bp(fullscreen){
    margin-left: em(-25px);
    margin-bottom: em(-30px);
  }
}
.socialNumbers{
  font-size: $font-size__subTitle;
  @include bp(fullscreen){
    font-size: $font-size__bannerTitle;
  }

}


#membersAndActivity{
  @include flex;
  @include flex_column;
  width: 100%;
  background-color:lighten($grey, 30%);
  border: 2px solid $grey;
  @include bp(tablet){
    @include flex_row;
  }
}

#newMembersDiv, #recentActivity{
/*  width: 100%;*/
  border: 2px solid $grey;
  @include bp(tablet){
    margin-left: 0%;
    width: 50%;
  }
}
.flexArrows{
  /*@include flex;*/
  /*@include flex_justify_space_between;*/
}
.arrow{
  height: 40px;
  fill: $medium-purple;
}

tr.flexArrows:nth-child(4){
  border-bottom: 0px;
}


.tableH3{
  margin-left: 5%;
}
table {
  border-spacing: 0.5rem;
  width:100%;
/*  @include flex;*/


}
tbody{
/*  @include flex;
  @include flex_column;*/

  /*width: 100%;*/
  /*margin-left: 5%;*/
}

td {

  padding: 0.5rem;
}
tr{
  border-bottom: 3px solid $grey;
  margin-bottom: 30px;
}
#table > tbody:nth-child(1) > tr:nth-child(4){
  border-bottom: 0px;
}

#rowspan{
  background-color: $limeGreen;


}


.memberPics{
  height: em(60px);
  border-radius: 50%;
  border: 4px solid $medium-purple;
}

#lastWrapperDiv{
  @include flex;
  @include flex_column;
  @include flex_justify_center;
  @include flex_align_items--center;
  padding-bottom: em(30px);
  width: 100%;
  /*height: 400px;*/
  background-color:lighten($grey, 30%);
  /*border: 5px solid $grey;*/
  @include bp(tablet){
    @include flex_row;
  }
}

#messageUser{
  width: 90%;
  /*margin-left: 5%;*/

/*  height: 300px;*/

  @include bp(tablet){
    margin-left: 0%;
    border-right: 3px solid $grey;
  }
}
#user_error, #message_error{
  color:red;
  font-size: $font_size__h4;
}

#settings{
  width: 90%;
  /*margin-left: 5%;*/
  margin-top: em(-10px);

  /*  border: 1px solid $grey;*/
  @include bp(tablet){
    margin-left: 0%;

  }
}

#settingsFieldset1 > div:nth-child(2){

	margin-top: em(-10px);
	margin-bottom: em(30px);

}

#public{
  @include flex;
  @include flex_column;

}
.publicParagraph{
  color: $black;
}

fieldset {
  border: none;
}

legend{
  color: $black;
  opacity: 0.7;
  font-size: $font_size__h5;
  &:hover{
    opacity: 1;
  }
}
#settingsForm{

}

#searchMessages{
  width: 100%;
  height: em(35px);
  margin-bottom: em(20px);
  @include bp(tablet){
    width: 98%;
  }

}

textarea{
  width: 100%;

  border: em(3px) solid $grey;
  background-color: $medium-purple;
  color: $white;
  border-radius: 4%;
	font-size: 16pt;

  @include bp(tablet){
    /*width: 40%;*/
    margin-top: em(0px);
    margin-bottom: em(0px);

  }


}

textarea:focus, #timezone:focus {
  border: 8px solid $medium-purple;
  color: $white;
  /*border-color: #c6454e;*/
  background-color: darken($medium-purple, 20%);
}


#messageButton{
  width: 100%;
  border-radius: 4%;
  color: $white;
  background-color: $medium-purple;
}

#submitButton{
  color: $white;
  background-color: $medium-purple;
  width: 100%;
  border-radius: 4%;
  margin-bottom: 2%;
  @include bp(tablet){
    width: 45%;
  }
}

#settingsFieldset1 > legend:nth-child(1){
/*  margin-top: em(-90px);*/
margin-top: em(30px);
margin-bottom: em(5px);
@include bp(tablet){
  margin-top: em(0px);
}
}
.switchSpans{
  margin-left: 70%;
  margin-top: em(-40px);
  @include bp(fullscreen){
    margin-left: 33%;
  }
}

#timezone{
  height: em(60px);
  width: 100%;
  border: em(3px) solid $grey;
  background-color: $medium-purple;
  color: $white;
  margin-top: em(35px);
  margin-bottom: em(50px);
}
#timeZoneLabel{
  display: none;
}
#cancelButton{
  color: $white;
  background-color: $grey;
  width: 100%;
  border-radius: 4%;
  @include bp(tablet){
    width: 45%;
  }
}

#settingButtons{
  @include bp(tablet){
    @include flex;
    @include flex_justify_space_around;
  }
}

#overlay{
  /*background:rgba(0,0,0,0.3);*/
  background-color: $medium-purple;
  width:100%;
  height: 100vh;
  position: fixed;
  top:0;
  left:0;
  display:none;
  text-align:center;
  padding-top: calc(30% + 20px);
}


#messageSent{

  @include flex;
  @include flex_align_items--center;
  @include flex_justify_center;
  height:200px;
  width:300px;
  border: 3px solid $white;
  margin: 0 auto;
  background-color: $limeGreen;
  @include bp(tablet){
    height:300px;
    width:400px;
 }
@include bp(fullscreen){
  margin-top: em(-200px);
}


}

#sentMessageText{
  font-size: $font_size__large;
  @include bp(tablet){
  font-size: $font_size__h5;
}

}
#closeOverlay{
  fill: $white;
  height: em(100px);
   animation: turn 1.1s .2s ease-out forwards;

}


#messageConfirm{
  width: 200px;
  height: 100px;
  background-color: $white;
  border-color: 3px solid $medium-purple;
}
